<table mat-table [dataSource]="habits$" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title</th>
    <td mat-cell *matCellDef="let habit"> {{habit.title}} </td>
  </ng-container>

  <ng-container matColumnDef="repeat">
    <th mat-header-cell *matHeaderCellDef> Repeat</th>
    <td mat-cell *matCellDef="let habit"> {{habit.repeatFrequency}} {{habit.repeatEntity}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let habit">
      <button
        type="button"
        (click)="updateHabit(habit)"
        aria-label="Edit habit"
        mat-icon-button>
        <mat-icon aria-label="Edit habit">edit</mat-icon>
      </button>
      <button
        type="button"
        (click)="deleteHabit(habit)"
        aria-label="Delete habit"
        mat-icon-button>
        <mat-icon aria-label="Delete habit">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedHabitColumns"></tr>
  <tr
    mat-row
    *matRowDef="let habit; columns: displayedHabitColumns;"></tr>
</table>
